<h1>All Tasks</h1>

<p>
  <%= link_to "Add New Task", new_task_path, remote: true %>
</p>

<div class="add-task">
  <%= form_for(Task.new, class: "to-do-form", remote: true) do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.submit "Add" %>
  <% end %>
</div>

<h2>To do</h2>

<%= form_tag complete_tasks_path, method: :put, remote: true do %>
  <div class="not-done">  
    <% if !@tasks_not_done.nil? %>
      <% @tasks_not_done.each do |t| %>
        <div class="task<%= t.id %>">
          <%= check_box_tag( "is_done_ids[]", t.id, false, class: "checkbox_#{t.id}" ) %>
          <%= link_to t.title, task_path(t), class: "task-item-not-done" %>
        </div>
      <% end %>
    <% end %>
  </div>  
  <div>
    <%= submit_tag "Mark As Complete" %>
  </div>       
<% end %>


<h2>Done</h2>
<div class="done">
  <% if !@tasks_done.nil? %>
    <% @tasks_done.each do |t| %>
      <div>
        <%= check_box_tag(t.is_done) %>
          <%= link_to t.title, task_path(t), class: "task-item-done" %>
      </div>
    <% end %> 
  <% end %>
</div>
