<h1>All Tasks</h1>


<p>
  <%= link_to "Add New Task", new_task_path %>
</p>

<h2>To do</h2>

<div class="not-done">
  <%= form_tag complete_tasks_path, method: :put, remote: true do %>
    <% if !@tasks_not_done.nil? %>
      <% @tasks_not_done.each do |t| %>
        <div class="task<%= t.id %>">
          <%= check_box_tag( "is_done_ids[]", t.id, false, class: "checkbox_#{t.id}" ) %>
          <%= link_to t.title, task_path(t), class: "task-item-not-done" %>
        </div>
      <% end %>
      <%= submit_tag "Mark As Complete" %>
    <% end %>
  <% end %>
</div>

<h2>Done</h2>
<div class="done">
  <% if !@tasks_done.nil? %>
    <% @tasks_done.each do |t| %>
      <div>
        <%= check_box_tag(t.is_done) %>
          <%= link_to t.title, task_path(t), class: "task-item-done" %>
      </div>
    <% end %> 
  <% end %>
</div>
